*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  color:azure
}

nav {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: 1fr;
  background-color: rgb(119, 65, 0);
  border-bottom: 20px solid #134;
  border-top: 10px solid rgb(6, 111, 163);
  border-left: 10px solid rgb(17, 74, 103);
  border-right: 10px solid rgb(17, 74, 103);
  width: 100%;
}

nav h1 {
  font-size: 4.5rem; 
  color: #084880;
  -webkit-text-stroke: 1.25px rgb(212, 199, 174);
}

nav .menu-tgl {
  border: 2px solid white;
}

nav h1 span {
  color:rgb(120, 221, 196);
  -webkit-text-stroke: 2px #134;
}

nav ul {
}

h2 {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.first-h2 {
  display: flex;                /*this is not intended to be styled this way, it's just a place holder for the idea*/
  justify-content: center;
  color:#0f8181;
  background-color: rgb(168, 240, 255, 0.5);
  letter-spacing: .7em;
}

.first-h2::before {
  display: flex;
  content: 'simple';
  color: rgb(168, 240, 255, 0.5);
  background-color: #0f8181;
  width: 20vw;
  justify-content: end;
}

.first-h2::after {
  display:flex;
  content: 'philosophies';
  color: rgb(168, 240, 255, 0.5);
  background-color: #0f8181;
  width: 20vw;
  justify-content: start;
}

body {
  background-color: #123;
}