@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  color:azure;
  font-family: 'Comfortaa', cursive;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: 1fr;
  background: linear-gradient(120deg,white,rgb(246, 223, 91), rgb(251, 193, 86), rgb(201, 133, 133), pink, antiquewhite);
  border-top: 15px solid rgb(6, 111, 163);
  border-bottom: 25px solid #134;
  border-left: 15px solid rgb(17, 74, 103);
  border-right: 15px solid rgb(17, 74, 103);
  width: 100%;
}

nav h1 {
  font-size: 2rem; 
}

.simple {
  color:rgb(255, 255, 255);
  -webkit-text-stroke: 0.75px rgb(0, 0, 0);
}

.period {
  color:rgb(120, 221, 196);
  -webkit-text-stroke: 0.75px rgb(0, 0, 0);
}

.hamburger {
  border: #0f8181 solid 1rem;
  background-color: #111;
  grid-column: 5 / span 1;
}

.menu {
  color:rgb(120, 221, 196);
  grid-column: 6 / span 2;
}

h2 {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.first-h2 {
  display: flex;                /*this is not intended to be styled this way, it's just a place holder for the idea*/
  justify-content: center;
  color:#0f8181;
  background-color: rgb(168, 240, 255, 0.5);
  letter-spacing: .7em;
}

.first-h2::before {
  display: flex;
  content: 'simple';
  color: rgb(168, 240, 255, 0.5);
  background-color: #0f8181;
  width: 20vw;
  justify-content: end;
}

.first-h2::after {
  display:flex;
  content: 'philosophies';
  color: rgb(168, 240, 255, 0.5);
  background-color: #0f8181;
  width: 20vw;
  justify-content: start;
}

body {
  background-color: #111;
}