.container {
  margin-top: 50px;
}

.headerImageContainer {
  width: 100%;
  height: 250px;
}

.headerImage {
  width: 60%;
  height: 100%;
  border-radius: 2px;
}

.titleContainer {
  margin-top: 20px;
  padding-block: 20px;
  border-top: 1px solid var(--darkAccent);
  display: flex;
  align-items: flex-end;
}

.title {
  font-size: 36px;
}

.titleLine {
  height: 2px;
  flex-grow: 2;
  background-color: var(--primaryAccent);
  margin-bottom: 9px;
  margin-left: 5px;
}

.article {
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .headerImage {
    width: 100%;
  }
}