.container {
  margin-top: 50px;
}

.headerImageContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 350px;
  font-size: 12px;
}

.headerImage {
  width: 60%;
  height: 100%;
  border-radius: 2px;
}

.photoCredit {
  text-decoration: underline dotted var(--yellowAccent);
  padding: 8px;
}

.titleContainer {
  margin-top: 20px;
  padding-block: 20px;
  border-top: 1px solid var(--darkAccent);
  display: flex;
  align-items: flex-end;
}

.title {
  font-size: 36px;
  font-weight: 900;
  /* text-decoration: overline 1px var(--yellowAccent); */
}

.titleLine {
  height: 2px;
  flex-grow: 2;
  background-color: var(--primaryAccent);
  margin-bottom: 9px;
  margin-left: 5px;
}

.article {
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .headerImageContainer {
    flex-direction: column;
  }

  .headerImage {
    width: 100%;
  }
}