:root {
  --bgColor: hsl(255, 10%, 3%);
  --primaryAccent: hsl(170, 60%, 35%);
  --darkAccent: hsl(159, 60%, 15%);
  --primaryFont: hsl(0, 6%, 93%);

  --transitionDuration: 750ms;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 100;
  letter-spacing: 1.4px;
}

html {
  padding: 20px;
  background-color: var(--bgColor);
  color: var(--primaryFont);
}

body {
  margin-inline: auto;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}