.container {
  margin-top: 36px;
  width: 100%;
}

.welcome {
  font-size: clamp(20px, 1.75vw, 24px);
  font-weight: 700;
  text-align: end;
  color: var(--primaryFont);
}

.subwelcome {
  margin-top: 10px;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 300;
  text-align: end;
}

.exploreContainer {
  margin-top: 75px;
  line-height: 25px;
}

.exploreHeader {
  padding-block: 20px;
  padding-left: 20px;
  background: linear-gradient(180deg, var(--primaryFont) 0% 35%, var(--bgColor) 35% 52%, var(--primaryAccent) 52% 65%, var(--bgColor) 65% 100%);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  text-decoration: underline var(--darkAccent);
  text-underline-offset: 5px;
}