.container {
  margin-top: 36px;
  width: 100%;
}

.welcome {
  font-size: clamp(20px, 1.75vw, 24px);
  font-weight: 700;
  text-align: end;
  color: var(--primaryFont);
}

.subwelcome {
  margin-top: 10px;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 300;
  text-align: end;
}

.recentPostsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
  padding: 12px;
}

.recentPostsContainer::before {
  content: '';
  position: absolute;
  min-height: 2px;
  width: 68%;
  top: -2px;
  background: linear-gradient(45deg, var(--darkAccent), var(--primaryAccent));
}

.recentHeader {
  font-size: 22px;
  font-weight: 900;
  width: 100%;
}

.blogCard {
  min-width: 280px;
  padding: 8px;
  border: 1px solid var(--primaryFont);
  border-radius: 8px;
  gap: 12px;
}