.container {
  min-height: 80dvh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.passwordLabel {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}

.passwordInput {
  all: unset;
  padding: 8px;
  color: var(--primaryFont);
  background-color: var(--darkAccent);
  border: 2px solid var(--primaryAccent);
  border-radius: 25px 100px 55px 50px;
  font-size: 20px;
  font-weight: 700;
}

.welcomeContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}

.subheader {
  font-style: italic;
}

.writingContainer {
  width: 100%;
  display: grid;
  gap: 20px;
}

.titleInput {
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 100;
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent));
  color: var(--primaryFont);
}

.titleInput::placeholder {
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  color: var(--primaryFont);
}

.postImageContainer {
  display: flex;
  gap: 12px;
}

.spinnerAndLabelWrapper {
  display: flex;
  align-items: center;
}

.postImageLabel {
  width: fit-content;
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent));
  font-size: 14px;
  padding: 5px 50px;
  border-radius: 10px 15px;
}

.postImageInput {
  font-size: 12px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.articleInput {
  min-height: 40vh;
  font-size: 14px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-style: italic;
  font-weight: 100;
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent));
  color: var(--primaryFont);
  resize: none;
}

.articleInput::placeholder {
  color: var(--primaryFont);
}

.footnoteInput {
  font-size: 16px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 100;
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent));
  color: var(--primaryFont);
}

.footnoteInput::placeholder {
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: var(--primaryFont);
}

.categoryInput {
  font-size: 16px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 100;
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent));
  color: var(--primaryFont);
}

.categoryInput::placeholder {
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: var(--primaryFont);
}

.submitButton {
  padding: 10px;
  border: 1px solid var(--primaryAccent);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  color: var(--primaryFont);
  background-color: var(--bgColor);
}

.submitButton:active {
  filter: brightness(50%);
}