.container {
  min-height: 80dvh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(hsl(0, 0%, 0%), rgb(56, 56, 56));
  border-radius: 0 0 10% 10%;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.passwordLabel {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}

.passwordInput {
  all: unset;
  padding: 8px;
  color: var(--primaryFont);
  background-color: var(--darkAccent);
  border: 2px solid var(--primaryAccent);
  border-radius: 25px 100px 55px 50px;
  font-size: 20px;
  font-weight: 700;
}

.welcomeContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.header {
  font-size: 48px;
  font-weight: 100;
}

.subheader {
  font-style: italic;
}

.writingContainer {
  width: 85%;
  margin-inline: auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titleLabel {
  width: min-content;
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent));
  font-size: 20px;
  padding: 5px 50px;
  border-radius: 10px 15px;
}

.titleInput {
  font-size: 28px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.postImageContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.postImageLabel {
  width: fit-content;
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent));
  font-size: 20px;
  padding: 5px 50px;
  border-radius: 10px 15px;
}

.postImageInput {
  font-size: 20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}