.container {
  width: 100%;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.dates {
  all: unset;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.dates:active {
  filter: brightness(50%);
  scale: 0.9;
}

.activeDate {
  all: unset;
  padding: 8px;
  text-align: center;
  background-color: var(--darkAccent);
  border-radius: 50%;
  aspect-ratio: 1;
}