.container {
  width: 100%;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.dates {
  all: unset;
  padding: 8px;
  text-align: center;
  aspect-ratio: 1;
}

.activeDate {
  all: unset;
  padding: 8px;
  text-align: center;
  background-color: var(--darkAccent);
  border-radius: 50%;
  aspect-ratio: 1;
  transition: all 500ms;
}