.container {
  margin-top: 50px;
  width: 70%;
}

.header {
  width: 100%;
  font-weight: 300;
}

.pickerContainer {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  padding: 24px;
  background-color: #111;
  border-radius: 16px;
}

.pickerHeader {
  font-size: 48px;
}

.dayNames {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.yearContainer {
  position: relative;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.yearDropdownButton {
  all: unset;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.yearDropdown {
  max-height: 0;
  height: 0;
  max-width: 0;
  overflow: hidden;
  transition: height 500ms;
}

.yearDropdown.active {
  max-height: 175px;
  height: 175px;
  max-width: 150px;
  position: absolute;
  top: 25px;
  left: 40px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding-left: 8px;
  padding-right: 17px;
  background-color: #111;
  transition: height 500ms;
}

.yearOption {
  all: unset;
  font-size: 16px;
  font-weight: 300;
  padding-block: 8px;
}

.prevNextContainer {
  display: flex;
  gap: 80px;
}

.prevNextButton {
  all: unset;
}

.calendar {
  margin-top: 40px;
  width: 100%;
  display: grid;
  background-color: orange;
  grid-template-columns: repeat(7, 1fr);
}