.buttons {
  width: 30%;
  margin-top: 50px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.icons {
  all: unset;
  display: flex;
  align-items: center;
}

.icons:active {
  filter: brightness(3);
}

.bulbs {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .buttons {
    width: 80%;
  }
}