.container {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 4px;
}

.isEven,
.notEven {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.isEven {
  background: linear-gradient(90deg, var(--primaryAccent), var(--darkAccent) 40%, var(--bgColor));
  background-position: right;
  background-size: 500%;
  transition-duration: 500ms;
}

.notEven {
  background: linear-gradient(90deg, var(--bgColor), var(--darkAccent) 40%, var(--primaryAccent));
  background-position: left;
  background-size: 500%;
  transition-duration: 500ms;
}

.isEven:hover,
.notEven:hover {
  scale: 1.02;
}

.isEven:hover {
  background-position: left;
}

.notEven:hover {
  background-position: right;
}

.image {
  border-radius: 8px;
  box-shadow: 1px 1px 5px 0px black;
}